* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fceef5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: #fff;
  padding: 25px;
  border-radius: 20px;
  width: 280px;
  box-shadow: 0 10px 30px rgba(255, 170, 200, 0.4);
}

.calculator h1 {
  text-align: center;
  color: #ff7eb3;
  margin-bottom: 15px;
}

#display {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: #f8f8f8;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 45px;
  border: none;
  border-radius: 12px;
  background: #ffd6e8;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #ffb6d5;
}

.igual {
  background: #ff7eb3;
  color: #fff;
}

.zero {
  grid-column: span 2;
}
.navbar {
  width: 100%;
  background: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ffd6e8;
  position: fixed;
  top: 0;
  left: 0;
}
.logo {
  color: #ff7eb3;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
